/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#tabs.wpcrm-project-tabs.ui-widget-content {
    border: none;
    background: transparent;
}
#tabs.wpcrm-project-tabs .ui-widget-header {
  border: none;
  border-bottom: 2px solid #aaa;
  background: transparent;
}
div#tabs.wpcrm-project-tabs li {
    font-size: 15px;
}
div#tabs.wpcrm-project-tabs li.project_type_order a {
    border-bottom: #0072ff solid 3px;
}
